<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/george-kitsos/IdeaProjects/Upstream_test/src/test/java/tests/basetests"><classes/></test><test verbose="2" preserve-order="true" name="/Users/george-kitsos/IdeaProjects/Upstream_test/src/test/java/tests/booktests"><classes><class name="tests.booktests.BookTests"><methods><include name="testBooks"/></methods></class></classes></test><test verbose="2" preserve-order="true" name="/Users/george-kitsos/IdeaProjects/Upstream_test/src/test/java/tests/logintests"><classes><class name="tests.logintests.LoginTests"><methods><include name="testLogin"/><include name="testLogOut"/></methods></class></classes></test></suite>